<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Team Pleiades Exoplanet Detection ML Model.">
    <title> Pleiades ML Model </title>
    <link rel="icon" href="../favicon.ico" type="image/icon type">
    <link rel="stylesheet" href="../public/css/root.css">
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="../public/css/navbar.css">
</head>
<body onload="loginButtonDisplay()">
    <div id="navbar" class="topnav">
        <!-- <img src="../favicon.ico" id="teamLogo"> -->
        <a href="/" id="home" class="curr">Home</a>
        <a href="model" id="model">Model</a>
        <a href="adv" id="adv">Advanced Model</a>

        <!-- <a href="javascript:void(0);" id="menuContainer" class="icon" onclick="resizeNavbar()">
            <box-icon name="menu" id="menu" aria-label="burger menu"></box-icon>
        </a> -->
    </div>
    <hr>

    <!-- ;alj kfldsajflk;dsj -->

<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<script src="../js/main.js"></script>
<script src="../js/navbar.js"></script>
</body>
</html>