<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Team Pleiades Exoplanet Detection ML Model.">
    <title> Pleiades ML Model </title>
    <link rel="icon" href="static/icons/favicon.ico" type="image/icon type">
    <link rel="stylesheet" href="static/css/root.css">
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="static/css/navbar.css">
</head>
<body onload="loginButtonDisplay()">
    <div id="navbar" class="topnav">
        <img src="static/icons/favicon.ico" id="teamLogo">
        <a href="adv" id="adv">Advanced Model</a>
        <a href="model" id="model">Model</a>
        <a href="/" id="home" class="curr">Home</a>
        
        <a href="javascript:void(0);" id="menuContainer" class="icon">
            ☰
        </a>
    </div>
    <hr>

    <div class="centreBox">
        <h1> Challenge Information </h1>
        <p>NASA missions like Kepler, TESS and K2 have discovered so much outside of our solar system. 
            However, identifying these objects is slow, requiring scientists to sift through mountains of data. 
            We are changing this: training an ML model on publicly available datasets, 
            we make exoplanet identification and classification accessible and efficient to everybody.</p>
        <br> <br>

        <h1> Our Model </h1>
        <p>
            [yap ypa ypa]
        </p>
    </div>
    
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>